<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <style>
    .el-alert, .el-card {
      margin-bottom: 1em;
    }
    .el-card pre {
      overflow-x: scroll;
    }
    .high {
      text-emphasis-style: dot;
      text-emphasis-position: over;
      -webkit-text-emphasis-style: dot;
      -webkit-text-emphasis-position: over;
    }
    .low {
      text-emphasis-style: dot;
      text-emphasis-position: under;
      -webkit-text-emphasis-style: dot;
      -webkit-text-emphasis-position: under;
    }
  </style>
  <title>Music Box</title>
</head>
<body>
  <div id="app" style="display: none">
    <el-dialog title="登录" :visible.sync="loginDialog">
      <el-form :model="loginForm">
        <el-form-item label="用户名">
          <el-input v-model="loginForm.name"></el-input>
        </el-form-item>
        <el-form-item label="密码">
          <el-input v-model="loginForm.password" show-password></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer">
        <el-button @click="loginDialog = false">取消</el-button>
        <el-button
          type="primary"
          :disabled="!loginForm.name || !loginForm.password"
          :loading="loginForm.loading"
          @click="login"
        >
          确定
        </el-button>
      </div>
    </el-dialog>

    <el-dialog title="添加歌曲" :visible.sync="addDialog">
      <el-form :model="addForm" label-width="4em">
        <el-form-item label="歌名">
          <el-input v-model="addForm.title" clearable></el-input>
        </el-form-item>
        <el-form-item label="歌手">
          <el-input v-model="addForm.artist" clearable></el-input>
        </el-form-item>
        <el-form-item label="歌词">
          <el-input v-model="addForm.lyric" type="textarea" clearable autosize></el-input>
        </el-form-item>
        <el-form-item label="简谱">
          <el-input v-model="addForm.music" type="textarea" clearable autosize></el-input>
        </el-form-item>
        <el-form-item label="优先级">
          <el-input-number v-model="addForm.priority" :min="0" :max="999"></el-input-number>
        </el-form-item>
      </el-form>
      <div slot="footer">
        <el-button @click="addDialog = false">取消</el-button>
        <el-button
          :type="playing ? 'danger' : 'warning'"
          :disabled="!addForm.music"
          @click="play(addForm.music)"
        >
          {{ playing ? '结束' : '试听' }}
        </el-button>
        <el-button
          type="primary"
          :disabled="!addForm.title || !addForm.artist || !addForm.lyric"
          :loading="addForm.loading"
          @click="add"
        >
          确定
        </el-button>
      </div>
    </el-dialog>

    <el-dialog title="编辑歌曲" :visible.sync="modifyDialog">
      <el-form :model="modifyForm" label-width="4em">
        <el-form-item label="ID">
          <el-input v-model="modifyForm.id" disabled></el-input>
        </el-form-item>
        <el-form-item label="歌名">
          <el-input v-model="modifyForm.title" clearable></el-input>
        </el-form-item>
        <el-form-item label="歌手">
          <el-input v-model="modifyForm.artist" clearable></el-input>
        </el-form-item>
        <el-form-item label="歌词">
          <el-input v-model="modifyForm.lyric" type="textarea" clearable autosize></el-input>
        </el-form-item>
        <el-form-item label="简谱">
          <el-input v-model="modifyForm.music" type="textarea" clearable autosize></el-input>
        </el-form-item>
        <el-form-item label="优先级">
          <el-input-number v-model="modifyForm.priority" :min="0" :max="999"></el-input-number>
        </el-form-item>
      </el-form>
      <div slot="footer">
        <el-button @click="addDialog = false">取消</el-button>
        <el-button
          :type="playing ? 'danger' : 'warning'"
          :disabled="!modifyForm.music"
          @click="play(modifyForm.music)"
        >
          {{ playing ? '结束' : '试听' }}
        </el-button>
        <el-button
          type="primary"
          :disabled="!modifyForm.title || !modifyForm.artist || !modifyForm.lyric"
          :loading="modifyForm.loading"
          @click="modify"
        >
          确定
        </el-button>
      </div>
    </el-dialog>

    <el-form :inline="true" :model="form" size="small" @submit.native.prevent>
      <el-form-item>
        <el-input v-model="form.search" placeholder="歌手 / 歌名" clearable></el-input>
      </el-form-item>
      <el-form-item>
        <el-button
          type="primary"
          :loading="form.loading"
          :disabled="!form.manage && !form.search"
          @click="search"
        >
          搜索
        </el-button>
      </el-form-item>
      <el-form-item>
        <el-divider direction="vertical"></el-divider>
      </el-form-item>
      <el-form-item v-if="!user.name">
        <el-button type="success" @click="loginDialog = true">登录</el-button>
      </el-form-item>
      <el-form-item v-if="!!user.name" :label="user.name">
        <el-button type="danger" @click="logout">退出</el-button>
      </el-form-item>
      <el-form-item v-if="!!user.admin">
        <el-divider direction="vertical"></el-divider>
      </el-form-item>
      <el-form-item v-if="!!user.admin">
        <el-button type="success" @click="addDialog = true">添加歌曲</el-button>
      </el-form-item>
      <el-form-item v-if="!!user.admin" label="管理模式">
        <el-switch v-model="form.manage"></el-switch>
      </el-form-item>
    </el-form>

    <el-alert v-if="list.length === 0" title="点击上方搜索按钮即可搜歌 / 刷新列表" type="info" show-icon></el-alert>

    <div v-if="!form.manage">
      <el-card shadow="always" v-for="s in showList" :key="s.id">
        <div slot="header">
          <el-checkbox>{{ s.title }} - {{ s.artist }}</el-checkbox>
          <el-button
            circle
            size="small"
            v-if="!!s.music"
            :type="playing ? 'danger' : 'success'"
            :icon="playing ? 'el-icon-close' : 'el-icon-caret-right'"
            style="float: right; padding: 4px"
            @click="play(s.music)"
          ></el-button>
        </div>
        <div>{{ s.lyric }}</div>
        <el-divider v-if="s.music"></el-divider>
        <pre v-if="s.music" class="music" :data-music="s.music"></pre>
      </el-card>
    </div>

    <div v-if="form.manage">
      <el-table :data="showList" :default-sort = "{prop: 'priority'}" border stripe>
        <el-table-column prop="title" label="歌名"></el-table-column>
        <el-table-column prop="artist" label="歌手"></el-table-column>
        <el-table-column
          prop="priority"
          label="优先级"
          sort-by="priority"
          :sort-method="(a, b) => a - b"
          sortable
        ></el-table-column>
        <el-table-column label="操作">
          <template slot-scope="scope">
            <el-button
              size="mini"
              @click="Object.assign(modifyForm, scope.row); modifyDialog = true"
            >
              编辑
            </el-button>
            <el-button
              size="mini"
              type="danger"
              @click="confirm('确认删除？') && del(scope.row.id)"
            >
              删除
            </el-button>
            <el-button
              size="mini"
              v-if="!!scope.row.music"
              :type="playing ? 'danger' : 'warning'"
              @click="play(scope.row.music)"
            >
              {{ playing ? '结束' : '试听' }}
            </el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>
  </div>
  <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script src="https://unpkg.com/tone/build/Tone.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    const Q = [], S = [ '0', 'C', 'D', 'E', 'F', 'G', 'A', 'B' ]
    const synth = new Tone.Synth().toMaster()
    synth.oscillator.type = 'sine'
    new Vue({
      el: '#app',
      data: {
        form: {
          search: '',
          manage: false,
          loading: false
        },
        user: {
          name: '',
          admin: 0,
          token: localStorage.getItem('token')
        },
        list: [],
        playing: false,
        loginDialog: false,
        loginForm: {
          user: '',
          password: '',
          loading: false
        },
        addDialog: false,
        addForm: {
          title: '',
          artist: '',
          lyric: '',
          music: '',
          priority: 0,
          loading: false
        },
        modifyDialog: false,
        modifyForm: {
          id: '',
          title: '',
          artist: '',
          lyric: '',
          music: '',
          priority: 0,
          loading: false
        }
      },
      mounted() {
        this.$el.style.display = 'block'
        if (this.user.token) {
          axios.get('/user', {
            params: this.user
          }).then(({ data }) => {
            if (data.name) {
              this.user = data
              axios.defaults.headers.common.token = data.token
            }
          })
        }
      },
      updated() {
        document.querySelectorAll('pre.music').forEach(el => {
          if (el.dataset.music) {
            el.innerHTML = el.dataset.music
              .replace(/(\d)([#b]?)\-+/g, '<span class="low">$1</span>$2')
              .replace(/(\d)([#b]?)\++/g, '<span class="high">$1</span>$2')
              .replace(/([#b])/g, '<sup>$1</sup>')
          }
        })
      },
      computed: {
        showList() {
          return this.list.sort((a, b) => a.priority - b.priority).slice(0, 50)
        }
      },
      methods: {
        login() {
          this.loginForm.loading = true
          axios.get('/user', {
            params: this.loginForm
          }).then(({ data }) => {
            if (data.error) {
              this.$message.error(data.error)
            } else if (data.token) {
              this.user = data
              localStorage.setItem('token', data.token)
              axios.defaults.headers.common.token = data.token
              this.loginForm.password = ''
              this.loginDialog = false
            } else {
              this.$message.error('未知错误')
            }
          }).catch(err => {
            this.$message.error(err.message)
          }).finally(() => {
            this.loginForm.loading = false
          })
        },
        logout() {
          this.user.name = ''
          this.user.token = ''
          this.user.admin = 0
          localStorage.removeItem('token')
		  delete axios.defaults.headers.common.token
        },
        search() {
          this.form.loading = true
          axios.get('/song', {
            params: this.form
          }).then(({ data }) => {
            if (data.error) {
              this.$message.error(data.error)
            } else {
              this.list = data.songs
              this.$message.success(`搜索到 ${this.list.length} 条结果`)
            }
          }).catch(err => {
            this.$message.error(err.message)
          }).finally(() => {
            this.form.loading = false
          })
        },
        add() {
          this.addForm.loading = true
          axios.get('/song', {
            params: Object.assign({ type: 'add' }, this.addForm)
          }).then(({ data }) => {
            if (data.error) {
              this.$message.error(data.error)
            } else {
              this.list.unshift(data)
              this.addDialog = false
              this.$message.success('添加成功')
            }
          }).catch(err => {
            this.$message.error(err.message)
          }).finally(() => {
            this.addForm.loading = false
          })
        },
        del(id) {
          axios.get('/song', {
            params: { id, type: 'delete' }
          }).then(({ data }) => {
            if (data.error) {
              this.$message.error(data.error)
            } else {
              this.$message.success('删除成功')
              for (const i in this.list) {
                if (this.list[i].id === id) {
                  this.list.splice(i, 1)
                  break
                }
              }
            }
          }).catch(err => {
            this.$message.error(err.message)
          })
        },
        modify() {
          this.modifyForm.loading = true
          axios.get('/song', {
            params: Object.assign({ type: 'modify' }, this.modifyForm)
          }).then(({ data }) => {
            if (data.error) {
              this.$message.error(data.error)
            } else {
              this.modifyDialog = false
              this.$message.success('修改成功')
              for (const s of this.list) {
                if (s.id === this.modifyForm.id) {
                  Object.assign(s, data)
                  break
                }
              }
            }
          }).catch(err => {
            this.$message.error(err.message)
          }).finally(() => {
            this.modifyForm.loading = false
          })
        },
        play(music) {
          if (this.playing) {
            return this.stop()
          } else {
            this.playing = true
          }
          let offset = 200, sounds = music.match(/\d[#b]?(\+|\-)*\s*/g)
          if (!sounds) { this.playing = false }
          for (const i in sounds) {
            const sound = sounds[i]
            let p = 4, s = S[sound[0]], t = 1
            if (/[#b]/.test(sound[1])) {
              s += sound[1]
            }
            for (let c of sound) {
              if (c === '+') {
                p++
              } else if (c === '-') {
                p--
              } else if (c === ' ') {
                t++
              }
            }
            t = Math.floor(16 / t)
            Q.push(setTimeout(() => {
              s !== '0' && synth.triggerAttackRelease(s + p, t + 'n')
              Number(i) + 1 === sounds.length && this.stop()
            }, offset))
            offset += 2000 / t
          }
        },
        stop() {
          this.playing = false
          while (Q.length) {
            clearTimeout(Q.pop())
          }
        }
      }
    })
  </script>
</body>
</html>
